.chat-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: inherit;
  }
  
  .chat-header {
    background-color: #468585 ;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  .chat-messages {
    flex: 5;
    padding: 100px;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
  }
  
  .user-message {
    background-color: #00ffaa;
    color: white;
    text-align: right;
  }
  
  .bot-message {
    background-color: #e1e1e1;
    color: black;
    text-align: left;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .chat-input button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #00ff77;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  