
<!-- <app-phone></app-phone> -->
<app-signup></app-signup>
 <!-- <app-phone-field></app-phone-field> -->
<!-- <div class="container">

  <app-post-list (caradded)="cartreAT($event)"></app-post-list>
  carlist
</div>
<app-phone></app-phone> -->
<!-- <h2>{{title}}<br>{{4+9}}</h2>
<img src="{{img}}" >
<img [src]="img"> -->
<!-- <h1>{{title}}</h1>
<input [(ngModel)]="title">
<h2 [innerHTML]="title"></h2> -->
<!-- <h3 *ngFor = "let collection of collections">{{collection}}</h3>
<h2>{{collections}}</h2> -->
<!-- {{ value | lowercase | uppercase  }}
<h1> {{count}}</h1>
<button (click)="clikcount()">click it
  
  
</button>
<h1>{{value | slice: 0 : 8 }}</h1> -->
<!-- <h2 *ngFor="let collection of collections | slice :2:3 "> {{collection }}</h2>
<h1 ngIf="isactive | slice"></h1> -->

<!-- <button [disabled]="key">key for property binding</button>
<button  [class]="isactive">key for string interpolation</button> 
<button [style.border]="isactive? 'red' : 'green'"></button>
<button ((click))="img"> EVENt</button>
<input #phone placeholder="phone number" />
  <!-- lots of other elements -->
  <!-- phone refers to the input element; pass its `value` to an event handler -->
  <!-- <button type="button" (click)="callPhone(phone.value)">Call</button>  -->

  <!-- app.component.html -->
<!-- <app-hero></app-hero> -->

<!-- You can add other components below -->
<!-- <app-product-overview></app-product-overview> -->
